<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <queries>
        <!-- Acrescentado esse bloco Intent para criar gaveta que acha apps-->
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>

        <package android:name="com.whatsapp" />
        <package android:name="com.google.android.gm" />
        <package android:name="com.google.android.youtube" />
        <package android:name="com.google.android.googlequicksearchbox" />
        <package android:name="br.com.bb.android" />
        <package android:name="com.raiadrogasil.drogasil" />
        <package android:name="com.google.android.apps.tachyon" />
        <package android:name="com.itau" />
        <package android:name="com.bradesco" />
        <package android:name="br.com.gabba.Caixa" />
        <package android:name="com.santander.app" />
        <package android:name="com.nu.production" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetoDirigido">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTask">
            <!-- Permite abrir normalmente pelo Android Studio e pela lista de apps -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>